.logo {
    width: 40px;
    height: 40px;
    margin: 5px;
    vertical-align: middle;
}

.hidden {
    visibility: hidden;
}

#editor { 
    margin: 0;
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
}

button.run-koan {
    margin-left: 25px;
    margin-right: 25px;
}

#status.PASS{
    color: green;
}

#status.FAIL{
    color: red;
}